[2017-07-23 16:25] wrnrlr opened #1 "Importing app has loop already running"
This problem could very well be caused by me being confused about the correct usage of testing an existing Sanic application, but when I try using my app as a fixture like so

    from myapp import server

    @pytest.yield_fixture
    def app():
        yield server.app

    @pytest.fixture
    def test_cli(loop, app, test_client):
        return loop.run_until_complete(test_client(app, protocol=

[2017-07-23 17:12] yunstanford commented on #1
i tried to reproduce your issue here, but it works fine for me.

1. server.py
[code]
2. conftest.py
[code]

3. test_pytest.py
[code]

Above works fine for me.

anyway, you got this error, mainly because the `app` you passed in has already been running, and then `test_client` tried to run it again... you should not pass in `app` that is running.

seems like `app.run` has been executed. i am guessin

[2017-07-23 22:53] wrnrlr commented on #1
Yun, thanks for your reply, it has been instrumental helping me further investigate this issue.

I've set a breakpoint on the asyncio's BaseEventLoop.run_forever method and when executing my app in test mode it gets called twice. This behaviour seems to be related to the usage of asyncpg connection pool.

You can reproduce this behaviour with this modified version of your `server.py` example.

[co

[2017-07-23 23:42] yunstanford commented on #1
are you talking about the "before_server_start" event has been executed  twice ?  Can you double check that ? Also Sanic version 0.5.4 has a bug that called `before_server_start` twice when start server in async mode. But it has been fixed in master branch.

Can you help me confirm that if "before_server_start" has been called twice or not ?

I don't have PostgreSQL instance for testing. But i can

[2017-07-24 13:25] wrnrlr commented on #1
I did a `pip3 install --upgrade git+https://github.com/channelcat/sanic` in order to use the latest version but still I see the same behaviour. Look at the screenshots below for my stack trace.

![screen shot 2017-07-24 at 15 18 51](https://user-images.githubusercontent.com/24570434/28525280-f8e384e4-7083-11e7-86cf-66533986f21f.png)
![screen shot 2017-07-24 at 15 19 06](https://user-images.githubu

[2017-07-24 17:41] yunstanford commented on #1
Thx! i got it, i will push a fix. maybe also a fix for Sanic.

[2017-07-24 22:58] yunstanford commented on #1
ok, it should been fixed. i tested it locally with async mongo client. Please use Sanic master branch.

I will work on pushing a new release for Sanic, because 0.5.4 version of Sanic has a bunch of small issues.

[2017-07-26 05:29] jonahfang opened #3 "How to test url in Blueprint?"

[2017-07-26 05:52] yunstanford commented on #3
You can just test it like normal url, eg.
[code]
Then,
[code]

[2017-07-26 05:54] yunstanford commented on #3
of course, you have to define `test_cli` fixture.

BTW, `Sanic v0.5.4` has several issues(a little buggy), but have been fixed in master branch. I'd suggest to use master branch. and i'm working on pushing a new release for Sanic.

[2017-07-26 06:01] jonahfang commented on #3
@yunstanford , thank you very much. It works!

[2017-07-27 15:07] wrnrlr commented on #1
I've just tested the master branch with my asyncpg example and can confirm this issue has been resolved. Thx for taking care of this, it's good to know the sanic ecosystem is alive an well.

[2017-07-27 15:07] #1 closed

[2017-07-28 16:04] #3 closed

[2017-07-31 10:03] jonahfang opened #4 "Any Suggestion of Mock Framework Choice"
I have used pytest-sanic to test a service called by aiohttp like this:

[code]
How to mock the real web site "https://api.github.com/repos/channelcat/sanic" ?

[2017-07-31 15:33] yunstanford commented on #4
You can do,
1. utilize `monkeypatch`, sth. like
[code]
2. use `Mock`,
[code]
3. spawn a real TestServer, and create a mock handler to return your expected response.

[2017-08-01 02:41] jonahfang commented on #4
@yunstanford , Thanks for your reply! I begin to maintain/reuse a session obj today, but all test failed with error message like this:

[code]

[2017-08-01 02:43] jonahfang commented on #4
I just add following code to the main server.py:

[code]
and Client class like this:

[code]

[2017-08-01 02:45] jonahfang commented on #4
I use Sanic 0.5.4.

[2017-08-01 02:48] yunstanford commented on #4
Please use master branch, there is a bug in Sanic 0.5.4. But I fixed it in master branch. Check out tips section of readme.

[2017-08-01 02:49] jonahfang commented on #4
Thanks!

[2017-08-01 16:17] #4 closed

[2017-08-02 04:52] qulc opened #5 "with pytest-flake8 plugins conflict"
`$ pytest tests/test_utils.py`
[code]

`$ pytest tests/test_utils.py --flake8`
[code]

[2017-08-02 05:30] yunstanford commented on #5
Thanks for reporting. But i am thinking it's more like a `pytest-flake8` issue. The `item` pytest collect should always have the attribute `fixturenames`.

Seems like `pytest-flake8` is not compatible with other plugins as well, `https://github.com/tholo/pytest-flake8/issues`. the issue is very similar.

Also, why not just call `flake8` directly ? it's just one command line, same as calling with `

[2017-08-02 06:44] qulc commented on #5
Thanks you reply.

this error is pytest-sanic raise.

https://github.com/yunstanford/pytest-sanic/blob/master/pytest_sanic/plugin.py#L83

[2017-08-02 07:54] yunstanford commented on #5
The error is raised by pytest-sanic, but it's because the `item`(Flake8Item) created by `pytest-flake8` is not `valid` or you can say `incompatible` and it has been collected by pytest collector.

Checkout here: https://github.com/tholo/pytest-flake8/issues/26, it's very similar issue.

pytest `setup` and `collector` for different plugins may be different/customized or even have conflict. but you

[2017-08-02 08:03] yunstanford commented on #5
also, let me know if u really wanna fix this. a quick fix could be easy.

and PR is always welcome.

[2017-08-06 05:28] jonahfang opened #6 "Test Hang And Timeout Error!"
I have upgraded to Sanic 0.6.0 and pytest-sanic 0.1.3, when I run the old unit test, it just hang and show timeout errror like :
[code]

[2017-08-06 05:41] #6 closed

[2017-08-06 05:42] jonahfang commented on #6
sorry ,it is not related with this project.

[2017-09-19 21:45] gabrielelanaro opened #7 "Remove tmpdir fixture"
The tmpdir fixture in pytest-sanic conflicts (and has different semantics) than the tmpdir fixture available in standard pytest. Please remove it

[2017-10-24 17:49] cybergrind commented on #7
Yep, that's totally disappointing thing

[2017-10-25 08:05] #7 closed

[2017-11-25 17:24] bow commented on #5
Hi @yunstanford,

Related to this, I just stumbled on this issue when trying to use the `--doctest-modules` flag from `pytest` (which I believe is included in vanilla pytest):

[code]

This is on pytest v3.2.1 and pytest-sanic v0.1.4. And I confirmed this was coming from `pytest-sanic` since running `py.test -p no:sanic --doctest-modules` work just fine. If it would help, I don't mind opening a PR

[2017-11-25 18:06] yunstanford commented on #5
We can quick fix this. Go ahead and make a PR. Thanks. let me know if you have any question.

[2017-11-26 04:53] yunstanford commented on #5
Let's close this issue in favor of https://github.com/yunstanford/pytest-sanic/pull/9

[2017-11-26 04:53] #5 closed

[2018-02-06 03:17] smlbiobot opened #10 "Proper way to test existing routes"
# unittest.TestCase

I have read the docs. However, I couldn’t quite figure out how to write test cases with the `unittest.TestCase` class.

I am trying to use the autofixture feature here: https://docs.pytest.org/en/latest/unittest.html and also to try to organize my code better.

# Proper route testing

I am slightly confused by the following from the docs http://pytest-sanic.readthedocs.io/en/l

[2018-02-06 03:32] yunstanford commented on #10
The documentation is just a simple example, it doesn't intend to test non-exists routes.

In your case, personally, i don't think it's good to import global app for testing, e.g. it doesn't make sense to use deploy configs for testing. I'd like a `create_app` function, sth. like

[code]

[2018-02-06 22:16] yunstanford commented on #10
Firstly, It is fully testing your apps with full unit tests. The app is running the same way as you start your service during unit tests.

It's just the way organize your code/testing code.

Your example is pretty simple, think about that if your service is interacting with `Mongo` or any db. In some unit tests, you're testing db behaviors or some complicated logic. It doesn't make sense to unit t

[2018-02-07 04:57] yunstanford commented on #10
1. yes, you still need reference db for things, but not the one for prod, you can use your candidate one or whatever. It can customize a lot things, not only this.
2. it's same, it actually also starts a real instance for your unit tests.

[2018-02-09 03:45] #10 closed

[2018-02-17 05:03] yunstanford commented on #10
because it starts `Sanic` in async way, https://github.com/channelcat/sanic/blob/master/sanic/app.py#L719.

As for unit tests, we need a `loop` to run all async unit tests under the hood.(`async def test_`)

Normally, when you write your application, if you don't explicitly pass `loop`, that means you just use the default `loop` from `asyncio.get_event_loop()`. it doesn't mean you don't need event

[2018-02-27 15:00] abingham opened #13 "App not started by the time handlers are called?"
I'm trying to sort out an error I'm seeing when I use this package. In one of my handlers I access `request.app.loop`, but sanic is reporting that I can only access the loop after the app is started. Here's the error:

[code]

I'm using a test fixture following the description in the pytest-sanic docs, and my configuration does in fact work for other handlers (i.e. those that don't access the loop

[2018-03-01 21:28] yunstanford commented on #13
1. ```sanic.exceptions.SanicException: Loop can only be retrieved after the app has started running. Not supported with `create_server` function
``` =, this looks like you are retrieving `app.loop` before starting server.

2. try remove your `class TestReplCreation:` wrap.

[2018-03-01 21:31] Relrin commented on #13
Confirm that I have this issue as well, when my extension for AMQP is trying to connect to the RabbitMQ instance via sharing the same event loop.
As far as I understood from the code, it happens because each `TestClient` instance uses `_server` / `server` attribute for running a **copy** of your application, when the `TestClient.app` isn't run or initialized.

[2018-03-01 21:38] yunstanford commented on #13
do not reference `app.loop` or the `loop` anywhere before starting the server especially if your server using pre-fork model or so. it might cause the issue.

Or if i misunderstand the situation, can you post a snippet of your code so i can take a look ?

[2018-03-01 21:45] Relrin commented on #13
In my case I have the following pieces of code which are leads to this error:
1) using async function for getting transport and protocol [connect](https://github.com/OpenMatchmaking/microservice-auth/blob/master/auth/app/extensions/amqp.py#L35-L38)
2) Have a small worker that works with RabbitMQ:
- [Initialization with app](https://github.com/OpenMatchmaking/microservice-auth/blob/master/auth/app/

[2018-03-01 21:48] yunstanford commented on #13
Thx, i'll take a loop tonight.

[2018-03-02 01:58] yunstanford commented on #13
@Relrin @abingham Thanks for reporting. Found the root cause, I'll push a fix for that.

[2018-03-02 04:34] yunstanford commented on #13
pushed a fix. let me know if still exists.

[2018-03-02 04:34] #13 closed

[2018-03-02 09:03] Relrin commented on #13
@yunstanford I've checked the new release on my notebook with the same tests. Everything works good now. Thank you!

[2018-03-02 09:23] abingham commented on #13
Seems to work for me, too. Thanks!

[2018-03-06 11:30] Mr0Null opened #14 ""event loop is closed" error"
I have created a fixture for test_server and used it in my tests, but the server is not responding (the server is started and listening)!

On the other hand, If I want to use the test_client, I get "event loop closed" error for my redis pool (the first test is passed, other tests are failed due to this error!).

here is my test:
[code]

conftest:
[code]

and you can find the project here: https://

[2018-03-07 07:11] yunstanford commented on #14
Several gotchas from your posted code:

1. Why are you using request.post against  websocket protocol?
2. You can use the asynchronous test_client instead the sync request. That's designed for this, although it doesn't really matter.
3. Looks like you are testing against global app object directly. It's not a very good practice.

[2018-03-08 11:57] Mr0Null commented on #14
I guess you are right (it's my first project and I'm newbie to this thing!)!
However, I managed to solve the issue by defining my own loop fixture without closing loops (now I have committed everything to that repo! that project is open-source 😁 and you can check it.)
btw, I think closing async loops is not a good idea for testing as there might be some tasks waiting to be done.

[2018-04-02 02:16] #14 closed

[2018-04-04 02:09] Pac0o opened #15 "fixture scope"
Hi, I was using pytest-sanic to test my app and was trying to use the same loop on all my tests but was unable to do it because when I tried to change the scope of the test_cli function this error appeared.

ScopeMismatch: You tried to access the 'function' scoped fixture 'app' with a 'module' scoped request object, involved factories
tests/test_polygon.py:12:  def test_cli(loop, app, test_client)

[2018-04-04 13:42] Pac0o commented on #15
Thank you!

[2018-04-04 13:42] #15 closed

[2018-04-30 10:26] c-goosen opened #16 "Headers not passed in test_client"
I hope I am not looking at this wrong, but the TestClient should accept headers in **kwargs. This does not seem to work though.

Context, in my sanic app I am using sanic-jwt tokens so I need to have Authorization headers on protected endpoints.

EX not working:
[code]
Ex works:
[code]

Any ideas, am I passing the headers incorrectly to the TestClient?

[2018-05-01 03:41] yunstanford commented on #16
Just added a unit test for testing this, https://github.com/yunstanford/pytest-sanic/commit/51ea50f6f4fdc50c5821c100a03de338298e2927

[2018-05-03 15:31] c-goosen commented on #16
Thanks. I might have been passing something wrong, so I am looking at it more in depth.

Will get back to this if I have it figured out, thanks.

[2018-05-04 07:37] c-goosen commented on #16
Yeah I think I was looking at this wrong so ignore me. Thanks for the quick feedback and testcase though!

[2018-05-04 07:37] #16 closed

[2018-05-06 23:54] yunstanford commented on #1
sorry, probably didn't understand what you asked. All fixtures will be destroyed and recreated for each single unit test.

[2018-05-07 00:04] psiofxt commented on #1
I believe I found the issue, apologies for taking up some of your time. In my app fixture I was assigning my blueprint after initializing a new postgres test db and each time the fixture was recreated it was adding a new bp.

[2018-06-01 18:00] garyo commented on #10
The example in this issue should replace the current quickstart example! It's much more realistic & useful than the standalone one. I was confused for hours, not sure why the test code was creating routes, and couldn't figure out how the real routes were getting into the test. (It shouldn't and they weren't; that's a toy example that mixes test code with real code.) This is what is working for me:

[2018-06-01 18:14] garyo opened #17 "utils.TestServer.close(): unexpected keyword argument"
In pytest_sanic.utils.TestServer.close(), there is this code:

[code]
As you can see from the `E` error here, conn.websocket.close_connection() doesn't expect an after_handshake arg.

[2018-06-01 22:10] yunstanford commented on #17
@garyo Thanks for bringing up this. looks like because of incompatible change in `websockets`, they've bumped up version to 5.0 recently.

Also we also have to fix Sanic here, https://github.com/channelcat/sanic/blob/master/sanic/server.py#L668, I'll fix both soon.

To quick unblock yourself, you can use `websockets < 5.0`

[2018-06-01 22:21] garyo commented on #17
Actually I just locally edited utils.py 😄 and removed the extra arg. Thanks for the quick response!

[2018-06-13 02:40] Jeffwhen opened #18 "How to do async fixture"
Can I use it with `pytest-asyncio`? I got this `different event loop` error.

[2018-06-13 03:29] Jeffwhen commented on #18
I use `asyncpg` as db driver. Need a injected connection obj to setup test context and verify side effects.

[2018-06-13 03:34] yunstanford commented on #18
Sorry, i still don't see why it requires. i'm not sure which feature you're relying on and it's missing here.

[2018-06-13 03:39] Jeffwhen commented on #18
Here's my planned fixture.

[code]

I expected I can do something like
[code]

This might be naive. But I think it's doable with async fixture support.

[2018-06-13 03:48] yunstanford commented on #18
ok, you can do that sth like
[code]
And, pytest has deprecated `yield_fixture`, you can just use `@pytest.fixture`.

We could also support `async fixture`.

[2018-06-17 03:49] #18 closed

[2018-06-17 03:49] yunstanford commented on #18
pushed a patch for this.

[2018-07-25 19:15] garyo commented on #17
Sanic is now updated to require websockets 5.0, so this failure is is back.

[2018-07-27 15:17] yunstanford commented on #17
Yeah, but Sanic didn't release the latest version to pypi.  Anyway, I guess I can push a fix for both case.

[2018-07-27 16:02] yunstanford commented on #17
ok, fixed.

[2018-07-28 21:05] #17 closed

[2018-08-01 16:08] garyo opened #19 "Loop fixture: wait for bg tasks"
My Sanic server starts some background async tasks that only get closed or cancelled when the server shuts down. If I use test_client to test it, I always get errors at the end of the test about "Task destroyed but it is pending."
The best fix I've come up with is to wait for all the pending tasks in the loop fixture, like this:

[code]

For debugging, I found it's best to wait for each task indiv

[2018-08-02 10:57] jamesstidard opened #20 "Pluggy PyTest 3.7.0 conflict"
Hi,

I was just updating some dependancies and I think the latest `pytest` and `pytest-sanic` are having a fight over `pluggy`.

From a clean directory, I `pipenv install pytest-sanic` I get the error:

[code]

Thank you for the library.

[2018-08-02 11:00] jamesstidard commented on #20
This is actually `pytest-sanic==0.1.12` as *.13 doesn't appear to be on pypi.

[2018-08-03 17:13] yunstanford commented on #20
interesting... pytest-sanic doesn't depend on `pluggy`... i can take a look tonight, Thanks for reporting. @jamesstidard

[2018-08-04 05:27] yunstanford commented on #19
`asyncio.Task.all_tasks` is sort of global, i'm a little worry about using that and waiting for all tasks without selecting.

IMO, unit test should be simple and have clearly defined testing scope. if your test case doesn't rely on those async tasks, i guess you could separate those out or at lease mock out if you have a very good code structure.

[2018-08-04 10:07] jamesstidard commented on #20
@yunstanford very odd. `0.1.13` installs no problem with `pipenv install pytest-sanic`, now it's released. `0.1.12` seems to be the problem child, so I see that error when I `pipenv install pytest==0.1.12`.

What's stranger is when I list the dependancy versions which are actually downloaded, they are the same for both the `0.1.13` and `0.1.12` install... So both should raise that error from pipen

[2018-08-05 03:10] #20 closed

[2018-09-11 09:26] burnpanck opened #22 "`test_client` fixture clashes with pytest-aiohttp"
If both pytest-sanic and pytest-aiohttp are installed, tests may pick up the wrong fixture. While this clearly is a design problem of pytest's magic fixture identification by name itself (https://github.com/pytest-dev/pytest/issues/3966, https://github.com/pytest-dev/pytest/issues/3834), pytest-sanic could help here by choosing a different name.

[2018-09-12 00:11] yunstanford commented on #22
@burnpanck yeah, sure, we can change the fixture name if needed, but it doesn't fix the issue essentially.

Also, is there any reason you wanna install both `pytest-sanic` and `pytest-aiohttp` into one virtualenv ?

[2018-09-22 19:55] yunstanford commented on #22
Hey, we can start add a new fixture with a different name, and start to deprecate test_client

[2018-09-26 02:25] tom888888 opened #23 "test_client error"
When i run this code
[code]
and this error occured

[code]
and i run pytest use this command
[code]

Could you please advice how to solve out this error
Thank you

[2018-09-26 02:53] yunstanford commented on #23
@tom888888 the traceback looks incomplete.

1.  Also i don't see why you use `app.test_client` (app.test_client.get(url, headers=headers)), it will bring up another server again.

2. If you decided to use `app.test_client`, what's the point to use fixture `test_client` ?

3. What's `app.test_cli` ?  Are you trying to use https://github.com/huge-success/sanic/blob/master/sanic/app.py#L664 ?

Sorry,

[2018-09-26 03:14] tom888888 commented on #23
thank you for your reply
I tried to mimic this program
https://github.com/yunstanford/pytest-sanic/blob/master/tests/test_client.py
like this
[code]
and I change my program like this
[code]
but I have no idea why there is an error in this part
[code]
Could you please advice how to solve out this error
Thank you

[2018-09-26 03:58] yunstanford commented on #23
1. you should await the coroutine, `resp = test_cli.get(url, headers=headers)`, and also change your test func to `async def test_list_analytic_apps`

2. `UnboundLocalError: local variable 'CONFIG' referenced before assignment`, it's likely because that you are trying to import global app, it's not suggested to import the global app for unit testing. (referencing https://github.com/yunstanford/pyt

[2018-09-26 04:34] tom888888 commented on #23
Thank you for your reply
I change the program according to your suggestions,like this
[code]
but the same error is occured
[code]
Could you please advice how to solve out this error
Thank you

[2018-09-26 04:49] yunstanford commented on #23
As i commented before, your app has been attached to another event loop, not the one used for unit testing, because you were trying to import your global app, which might have referenced an event loop already.

You can follow https://github.com/yunstanford/pytest-sanic/issues/10#issuecomment-363583562 for more context.

[2018-10-02 07:55] tom888888 commented on #23
Thank you for your reply

[2018-10-12 06:40] #23 closed

[2018-12-09 14:10] jibinmathew691993 opened #24 "fixture 'loop' not found"
[code]

[2018-12-10 07:37] jibinmathew691993 commented on #24
Apparently, the issue was fixed on reinstalling the pytest-sanic

[2018-12-10 07:37] #24 closed

[2018-12-24 10:32] kataev commented on #22
Hello, when new version with new fixture client name will be released?
Without it, i must copy-paste test_client fixture with another name in my code, i think this it not a good solution.

[2018-12-25 20:54] omarryhan opened #25 "What's the best way to get the request object back?"
I think it would be nice if there's an easy way to get the request object back from the test client. What do you think?

[2018-12-25 22:39] yunstanford commented on #25
Why do you need get request back from `test_client` ? any use case ?

[2018-12-25 22:44] yunstanford commented on #25
Also if you need to test the request obj itself, you can easily test it inside handler.

[2018-12-25 22:58] omarryhan commented on #25
One use case can be to test `request['session']`.
Sorry, what do you mean by inside handler?

[2018-12-26 00:40] yunstanford commented on #25
you can either
[code]
or make the route handler to return request["session"] for testing.

[2018-12-27 20:07] omarryhan commented on #25
I think it's not very convenient to have test code inside route handlers. Is there any particular reason you don't make use of Sanic's own test client? https://github.com/huge-success/sanic/blob/master/sanic/testing.py
It returns both the request and response object by default.

[2018-12-27 23:30] yunstanford commented on #25
1. it won't be able to test async coroutines, which is huge gap for async web application. When your webapp becomes large, it will have a lot lib async functions that needs test asynchronously.
2. it starts up TestServer and tears it down for each single request. It won't work if anyone wanna test behavior that requires server serving several requests.

[2018-12-29 18:32] omarryhan commented on #25
Cool! I appreciate your contribution to this repo and Sanic. Neat work!

One more question, what do you think of maybe having a kwarg named: `return_request` that can be passed to pytest-sanic's http client? e.g.

[code]

[2019-01-12 21:05] yunstanford commented on #25
Yeah, let me think about this.

[2019-01-14 05:55] lnmds opened #26 "Bug on websockets"
I've been having trouble trying to test websockets with pytest-sanic. I don't know if it is something around my app initialization or an actual bug in pytest-sanic.

I've been getting the same issues with Python 3.6 and 3.7, both installs were with sanic 18.12.0, pytest 4.1.1 and pytest-sanic 0.1.15 (which I believe is latest versions for all three).

The traceback is as follows (with some informa

[2019-01-14 06:07] yunstanford commented on #26
Hey, you can find example in README or documentation https://pytest-sanic.readthedocs.io/en/latest/,

[code]

[2019-01-14 06:10] lnmds commented on #26
Oh! That wasn't easy to notice as there's the long `app` fixture, made me scroll right through. It would be nice to add a notice (maybe at the Tips section, since there's already two related to websockets) so that users make sure `protocol` is set before anything else.

It works now anyways, not a bug, closing.

[2019-01-14 06:10] #26 closed

[2019-02-26 15:41] yunstanford commented on #22
Addressed in `1.0.0`

[2019-02-26 15:41] #22 closed

[2019-03-01 18:56] shinybrar opened #27 "Test fixtures with scope set to session"
I am using `pytest-sanic` to test my `sanic` application, which communicates with a database layer running in a docker container and I am having difficulty achieving the following test setup:

#### Expected Setup
  1. Spawn one database container for the entire test suite
  2. Setup the database and tables inside the container required by the app
  3. `yield` a session scoped fixture to the app

[2019-03-01 19:12] omarryhan commented on #27
How about doing it this way?

[code]

[2019-03-01 19:22] omarryhan commented on #25
Just an idea, here's how I managed to preserve the most recent requests:

while setting up my app in my test fixtures, I included the following lines:

[code]

Now whenever I want to access the previous request, I do the following

[code]

[2019-03-01 19:36] shinybrar commented on #27
@omarryhan I tried the approach you mentioned above, but I run into the following issue:

  - The `@pytest.yield_fixture` `yields` a separate/unique `test_app` for each test
  - `test_app.register_listener(database_setup, 'before_server_start')` starts a container for each `test_app`, but only one container will be spawned because all subsequent initializations won't be able to bind to the already

[2019-03-02 05:00] omarryhan commented on #27
Ohh gotcha. I think it'd be nice if we can choose our app's scope before running the tests. Maybe, have a --sanic-scope=session command line argument?

Some more ideas:

1. Have a global called db_container that you assign to once if its None. (Or maybe just store the previous container ID)

2. If you don't need to have access to your container you can have a script run your pytests. In this scrip

[2019-03-07 04:20] sunghyun-lee opened #28 "Is there any way to run sanic_client as debug=True?"
Hello!

I have faced problems to test sanic client, which I can't see the traceback on unexpected error.
As far I have found, Sanic does not provide detailed error log (like exception traceback) if not running on debug mode.

So I tried to run `sanic_client` as debug mode but no chance.

I was running sanic server like this way:
[code]

With `pytest-sanic`, how can I get `sanic_client` on debug mo

[2019-03-10 07:13] jackey8616 commented on #27
I'm not sure this would help you or not.
Long days ago I faced same issue as you.
I want to make the test running under just one instance, so I use `module` scope.
And the solution I found is to make everything be `module` scope.

Here is my [conftest.py](https://github.com/YunOSC/PyFun-Backend/blob/master/tests/conftest.py) check it out.
[code]

Also, since `test_client` is deprecated,
so just ch

[2019-03-10 07:16] jackey8616 commented on #28
I think you mean running `pytest` and shows the traceback that Sanic throws out?
Maybe it's nothing to do with `pytest-sanic`.
Try running your pytest command with `--capture=no` argument?
ex: `python -m pytest ./tests --capture=no`.

[2019-03-10 08:13] sunghyun-lee commented on #28
@jackey8616 Thanks! Im gonna try it when i can, and gonna close this issue.

[2019-03-18 07:44] sunghyun-lee commented on #28
@jackey8616 My bad.

I thought it does not work with `--capture=no` argument.
I tried to reproduce the situation with simple code, but `pytest-sanic` prints out stacktrace.

I think my internal configuration got something blocking to print stacktrace. Sorry for not related issue. Gonna close.

I tested with this code:

[code]

[2019-03-18 07:44] #28 closed

[2019-05-02 17:03] shinybrar commented on #27
I fixed the issue, by starting the database + app configurations through `docker-compose`.

[2019-05-02 17:03] #27 closed

[2019-07-30 12:39] sevaho opened #30 "Run tests asynchronously"
#Hi there

Is there any option to run 2 tests in parallel?

ref: https://github.com/pytest-dev/pytest-asyncio/issues/69

[2019-08-03 01:06] yunstanford commented on #30
I use https://github.com/pytest-dev/pytest-xdist,
Just be careful about any shared resource.

[2019-09-23 06:29] ashleysommer opened #31 "App recreated between calls to parameterized test"

[2019-09-24 16:05] yunstanford commented on #31
I think this is expected behavior. pytest'll recreate all fixtures for each unit tests by default, if you didn't specify fixture scope.

[2019-09-24 20:37] ashleysommer commented on #31
Sorry, I created this issue by accident. I was investigating a problem but turns out this was not the cause.
I thought I closed the window before submitting the issue.

[2019-09-24 20:37] #31 closed

[2019-09-30 19:47] levismiller opened #32 "How to set custom headers for requests?"
For example, how would I set the 'Authorization' header to Bearer <some token value>?

[2019-09-30 20:00] levismiller commented on #32
I figured it out.

Just in case anyone else has the same question, or if there is a better way to do this:

async def test_user_load(test_cli):
    """
    GET request
    """
    headers = {"Authorization": "Bearer eyJ0eXAiOiJKV1Q...KQE"}
    resp = await test_cli.post('/user/load', headers=headers)
    assert resp.status == 200

[2019-09-30 20:00] #32 closed

[2019-10-11 01:19] igozali opened #34 "`tests` dir in project root gets exposed as a package"
**Steps to Reproduce**

Run the following bash commands:
[code]

From inside the Python interpreter, I can now import:
[code]

**Expected behavior**

I shouldn't be able to import the tests from `pytest-sanic` since tests should be internal to the project.

**Details**

The underlying issue is `setup.py` using `find_packages()` and realizing that tests is also a package since it has an `__init__.p

[2019-10-11 22:24] yunstanford commented on #34
@igozali thanks for bringing this up, it should be fixed now.

[2019-10-11 22:24] #34 closed

[2019-10-13 04:36] #30 closed

[2020-01-03 01:15] dnguneratne opened #35 "How to mock a handler decorator?"
Sanic examples show how to create something like an authorization decorator (https://sanic.readthedocs.io/en/latest/sanic/decorators.html). How could I mock/override this in a test? From my understanding the decorator is already applied by the time tests are collected.

[2020-01-12 02:30] yunstanford commented on #35
You should be able to moneypatch patch tho.

[2020-02-06 20:26] emacsen opened #36 "Deprecation warnings about the event loop"
When running tests, I get:

/path/to/tumbrell/lib/python3.8/site-packages/pytest_sanic/utils.py:131: DeprecationWarning: The loop argument is deprecated since Python 3.8, and scheduled for removal in Python 3.10.
    await asyncio.gather(*coros, loop=self.loop)

It seems this should be updated.

[2020-02-08 02:25] yunstanford commented on #36
will push fix.

[2020-02-17 22:05] #36 closed

[2020-02-17 23:35] #35 closed

[2020-02-18 06:52] zhanymkanov opened #38 "Fixture "loop" not found at v 1.5.0"
[code]
Raises `fixture 'loop' not found`

in 1.1.2: `pytest --fixtures` lists all `pytest-sanic`'s builtin fixtures in `fixtures defined from pytest_sanic.plugin`
in 1.5.0:  `pytest --fixtures` lists nothing from pytest-sanic

Reinstallation did not help.

[2020-02-18 12:37] zoliszeredi commented on #38
same for me, issue is breaking our builds with 1.5.0

[2020-02-18 16:07] rogiervandergeer commented on #38
The `entry_points.txt` is missing from the wheel. This prevents `pytest` from finding and loading the plugin.

[2020-02-18 23:03] ashleysommer commented on #38
+1, same problem occurring for me

[2020-02-19 15:53] yunstanford commented on #38
Sorry guys, i just was trying to switch to poetry for build system, and missed adding entry_point. I'll do another release soon

[2020-02-19 16:22] yunstanford commented on #38
just released 1.6.0

[2020-02-19 16:22] #38 closed

[2020-02-19 20:51] wei-hai-pai opened #39 "Add CHANGELOG or release notes"
Can we add CHANGELOG or release notes?

[2020-03-03 17:19] #39 closed

[2020-03-22 12:11] cubranic opened #40 "Deprecation warning caused by TestClient passing through `loop`"
With `pytest-sanic` freshly installed from PyPI (v1.6.0), when I run the example from `sanic`'s [docs](https://sanic.readthedocs.io/en/latest/sanic/testing.html#pytest-sanic) showing the use of `pytest-sanic`, I get the following error:

[code]
It looks like it's because `TestClient` creates an instance of `TestServer` in line 187, passing through its `_loop` property:
[code]
while `TestServer` wa

[2020-03-24 20:14] yunstanford commented on #40
Good catch, will fix it.

[2020-04-06 19:43] #40 closed

[2020-09-04 22:24] ShamansCoding opened #44 "Compatibility with pytest v.6 and higher"
Greetings! Is there any active road map to add compatibility with latest pytest version, which major number at the moment is 6?

Poetry can't resolve the current pytest-sanic with the latest pytest:

[code]

[2020-09-18 00:42] fabaff commented on #44
This makes also the package from Fedora Package Collection [uninstallable](https://bugzilla.redhat.com/show_bug.cgi?id=1871605).

[2020-09-24 02:05] thamenato commented on #44
@ShamansCoding my PR was merged just now. I tested locally and seems to be working now, would you mind giving it a try on new version 1.6.2? Thanks

[2020-09-26 01:44] #44 closed

[2020-09-26 22:23] ShamansCoding commented on #44
@thamenato
I checked my test suites. Everything seems to be working properly. Thank you!

[2021-01-25 23:50] Cayke opened #46 "Code coverage"
Is it possible to use coverage package with pytest-sanic?
Does coverage gets the lines executed when calling api endpoint with test_cli?

[2021-01-26 00:12] yunstanford commented on #46
it's fine to use coverage package, like coverage, pytest-cov. It's same as other unit tests, the coverage is calculated by whatever lines that executed in your written unit tests divided by total lines of code in your specified target dir.

[2021-01-26 15:50] #46 closed

[2021-02-24 22:09] discort opened #47 "Replacing aiohttp by lightweight async http client"
**Proposal**: replace heavy `aiohttp` package by lightweight async client, for instance:  [httpx](https://github.com/encode/httpx)

**Background**: `aiohttp` includes implementation for client/server while `pytest-sanic` uses only `ClientSession` functionality. As a result `aiohttp` takes more disk space ~4.0M comparing to ~450kB (`httpx`). Also, `aiohttp` has more auxiliary packages.

[2021-02-24 22:25] yunstanford commented on #47
Yep, httpx didn't exist when this package was created.

[2021-02-28 04:01] #47 closed

[2021-03-01 10:38] artamonovkirill opened #49 "Replacing aiohttp with httpx broke the response API"
When switching to pytest-sanic 1.7.0, we get the following errors:
[code]
and:
[code]

* Should this breaking change be mentioned in the release notes somewhere?
* Should the examples in README.md be updated?

[2021-03-01 17:47] yunstanford commented on #49
Oops, sorry for the trouble. I'll update examples and also draft release notes. In the meantime, you can pin the version to 1.6.x as workaround fix. Sorry again!

[2021-03-02 09:28] BobCashStory commented on #49
@yunstanford when you do an incompatible change you should do a major version,
 it will help us to follow your changes !
I had to refactor all test this morning for this, 2 hours who I agree to do but not forced :)

[2021-03-02 17:57] yunstanford commented on #49
Sorry again guys for the trouble. It was a little bit rush on my side when making the change, and not realize it's incompatible change, my fault tho.

For references, releases w/notes can be found here https://github.com/yunstanford/pytest-sanic/releases

[2021-03-02 17:57] #49 closed

[2021-03-31 13:13] tempelkim opened #50 "As of sanic 21.3.0 pytest-sanic fails with "TypeError: serve() got an unexpected keyword argument 'main_start'""
Running a stripped down version of the sanic_client example fails when used with current sanic-21.3.2:

[code]

Adding something like:

[code]
in utils.py should fix it.

Support for Sanic-21 additionally requires dropping python-3.6 as it is on >=3.7 - allowing uvloop-0.15.2 instead of 0.14.0.

I can create a PR if you want me to...

[2021-04-27 19:34] todddialpad opened #51 ""Attempted to call an sync close on an async stream." after httpx bumped to 0.18.0"
This change in httpx [https://github.com/encode/httpx/pull/1572](url) appears to break calling TestClient.close.

[2021-05-13 07:19] ergoproxxxy commented on #50
If you cannot or do not want to edit source code of library, you can use the fixture below.

[code]

[2021-05-20 06:50] #50 closed

[2021-05-20 07:01] yunstanford commented on #50
merged the PR to unblock. i'm gonna revisit this over weekend and checkout if there are any other pieces needs to be updated.

[2021-05-23 06:07] xiaoxiper opened #53 "Upgrade to pytest-sanic 1.7.1 and sanic 21.3.4 failed with "sanic_routing.exceptions.FinalizationError: Cannot finalize router more than once.""
Hi!
I use Blueprint groups, it was ok when I used sanic 20.x with pytest-sanic 1.7.0.
But when I upgraded, I encountered the following:
[code]

[2021-05-23 13:10] dotlambda commented on #51
I can confirm this.

<details>
<summary>pytest output</summary>

[code]
</details>

[2021-05-27 14:18] Alessandro-Barbieri opened #54 "docs"
how do you build the documentation? Isn't  `conf.py` required?

[2021-06-08 07:09] fabaff opened #55 "Allow later websockets release"
`websockets` has a [constrain](https://github.com/yunstanford/pytest-sanic/blob/master/pyproject.toml#L20). The latest `websockets` is 9.1 and this release is fixing a [authentication vulnerability](https://websockets.readthedocs.io/en/stable/changelog.html) which was introduced with 8.0.

[2021-06-09 10:39] mvbrn commented on #53
i have the same thing, any workarounds?

[2021-06-11 14:29] rafaelfelix commented on #51
same issue on my side

[2021-06-28 10:27] mikekeda commented on #55
pytest-sanic requires old websockets version
`ERROR: pytest-sanic 1.7.1 has requirement websockets<9.0,>=8.1, but you'll have websockets 9.1 which is incompatible.`

and with new Sanic release 21.6.0 old websockets version doesn't work
[code]

[2021-07-01 08:57] andreasgabrielsson commented on #51
Are there any plans to merge the PR that @rafaelfelix created? Otherwise, has anyone found a workaround for this issue?

[2021-07-01 09:44] rafaelfelix commented on #51
my current workaround is to `pip install git+https://github.com/rafaelfelix/pytest-sanic@issue_51`, or adding this to a requirements.txt:

[code]

then `pip install -r requirement.txt`

I don't really think there's a way around it, as the httpx upgrades introduced breaking changes

[2021-07-01 13:45] andreasgabrielsson commented on #51
Thanks @rafaelfelix! We tried that and it worked. Thanks for finding a temporary solution, and let's hope your PR gets merged soon so we can get back to using a properly released version.

[2021-07-14 19:24] michel-rodrigues commented on #53
I have the same problem

[2021-07-19 15:17] twerkmeister commented on #55
We need this too at https://github.com/RasaHQ/rasa

[2021-07-27 21:32] #51 closed

[2021-07-27 21:54] yunstanford commented on #55
updated. https://github.com/yunstanford/pytest-sanic/releases

[2021-07-27 21:54] #55 closed

[2021-07-27 21:54] yunstanford commented on #53
updated. https://github.com/yunstanford/pytest-sanic/releases

[2021-07-27 21:58] yunstanford commented on #53
any sample code for me to reproduce ?

Tried with one simple test (https://github.com/yunstanford/pytest-sanic/commit/e76ddeb656d14c0014399a0b8bb4d85735b6153f), seems working fine.

[2021-08-09 15:24] HeathLee opened #58 "RuntimeError: Event loop is closed"
[code]
[code]
and then run `pytest` got this error
[code]

[2021-08-10 07:45] twerkmeister commented on #55
Thanks a lot @yunstanford!

[2021-10-14 10:55] Go0dYear opened #60 "Websocket version is incompatible with sanic latest release"
Hi there,
just started a new Sanic project and went to trouble with testing because of:
[code]
I saw that PR is ready, are you gonna merge it soon? :)
Thanks in advance!

[2021-10-25 17:06] yunstanford commented on #60
closed by https://github.com/yunstanford/pytest-sanic/pull/59/files

[2021-10-25 17:06] #60 closed, assigned to nobody

[2021-10-28 00:35] rmk135 opened #61 "Problem with sanic>21.6"
Hey,

Thanks for the great library!

Seems like there is an error on ``sanic > 21.6``. The failure I see looks like that:

[code]

The failure occurs all the time, but if you need an example, take a look at: https://github.com/ets-labs/python-dependency-injector/tree/master/examples/miniapps/sanic

Thanks,
Roman

[2021-11-04 22:15] fabaff opened #62 "Test failure with websockets > 9"
The tests don't pass with `websockets-10.0`:

[code]

Works fine with `websockets-9`.

Distributions are starting to ship `websockets-10` which could lead to failures when running the tests during the package build processes.

Thanks

[2021-11-05 09:07] wochinge commented on #62
We have the same problem here 😬

[2021-11-05 09:08] wochinge commented on #61
We have the same problem 😬

[2021-11-05 09:49] wochinge commented on #61
Created a fix [here](https://github.com/yunstanford/pytest-sanic/pull/63/files) but would need some feedback

[2021-11-16 01:04] autumnjolitz commented on #61
The events system was overhauled in https://github.com/sanic-org/sanic/pull/2160

So you'll need to also add
[code]
after `await self.app._startup()`

[2021-11-17 21:27] yunstanford commented on #62
doesn't seem it's related to the version bump, guess `sanic` removes that module in recent version, can take a look tho

[2021-11-30 09:16] ChihweiLHBird commented on #58
Can you add `sanic_client` to the code snippet? That would be convenient to check. Thanks!

[2021-12-01 02:24] super1-chen opened #64 "update ws testcase in README.md."
webscoket test case in README.md is wrong, I found correct example of websocket test case in dir example, so I think you should update the README.md better.

[2021-12-31 18:54] Vedant-R opened #65 "Sanic Unit Testing Error: AttributeError: __aenter__"
Hi guys,

Thank you in advance.

Getting following error:
[code]

[2022-01-12 10:56] Vedant-R commented on #65
Got this sorted, thank you.

Closing it.

[2022-01-12 10:56] #65 closed, assigned to nobody

[2022-05-16 19:46] notzippy commented on #61
This is a showstopper for me. This package is unusable without a fix for sanic 21 (working addition to changes)

        await self.app._startup()
        await self.app._server_event("init", "before", loop=self.loop)
        # Trigger after_start events
        await self.app._server_event("init", "after", loop=self.loop)

[2022-07-01 13:54] indam23 commented on #61
I've ported the fix from @wochinge to here https://github.com/yunstanford/pytest-sanic/pull/66 and added the changes you mentioned @autumnjolitz

[2022-10-03 16:03] autumnjolitz commented on #61
Hi @melindaloubser1 , I managed to rederive the same fixes you made lol

Wasn't paying attention till Google's auth libraries made me upgrade and jesus christ wow the internal fiddling is awful